anndata==0.7.6
fa2
leidenalg
matplotlib~=3.3.4
MulticoreTSNE
networkx
numba
numpy~=1.20.2
opencv-contrib-python
pandas
python-igraph
PyYAML==5.4.1
scanpy>1.7.2
scikit-learn~=0.24.2
scipy~=1.6.2
seaborn~=0.11.1
sklearn==0.0
umap-learn==0.5.1
scikit-image~=0.18.1
setuptools~=52.0.0
statsmodels~=0.12.2
tqdm~=4.61.2
dtaidistance