anndata==0.7.6
fa2
harmonyTS==0.1.4
leidenalg
matplotlib~=3.3.4
MulticoreTSNE
networkx~=2.5.1
numba
numpy~=1.20.2
opencv-contrib-python==4.5.2.54
palantir==1.0.0
pandas~=1.1.5
python-igraph
PyYAML==5.4.1
sam-algorithm==0.8.5
scanpy==1.7.2
scikit-learn~=0.24.2
scipy~=1.6.2
seaborn~=0.11.1
sklearn==0.0
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
umap-learn==0.5.1
scikit-image~=0.18.1
setuptools~=52.0.0
statsmodels~=0.12.2
tqdm~=4.61.2